.LogIn{
    margin-left: 10px;
}

/* cambiar tipo de letra */
nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 
/* cambiar el color de fondo a la barra */
nav.navbar {
    background-color: #CC1414;
}

.jumbotron {
    background-image: url("assets/dog_05.jpg");
    background-size: cover;
}

.serchVerticalL{
    border-right: 5px solid black;
}


.serchVerticalR{
    border-left: 5px solid black;
}

.contCarr{
    margin:25px;
}

.fichaAnimal .col-sm-4 {
    margin: 2.1rem!important;
    width: 100px;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 32%;
 
}