@media (max-width: 575.98px) {
    /* arrow que va va al inicio de la pantalla, en Responsive menor de 520 */
    .flotante {
        width: 100%;
        display: scroll;
        position: relative;
        top: 34px;
        left: 3%;
        margin-top: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .flotante {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .flotante {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .flotante {
        display: none;
    }
}

@media (min-width: 1200px) {
    .flotante {
        display: none;
    }
}

h1 {
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    color: rgb(0, 111, 175);
}

h1 {
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    color: rgb(0, 111, 175);
}

h3 {
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    color: rgb(0, 111, 175);
}

h4 {
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

h5 {
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    color: rgb(0, 111, 175);
}

p {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    ;
    font-size: 14px;
    text-align: justify;
    text-indent: 10px;
    line-height: 20px;
    color: rgb(0, 50, 78);
}

body {
    background-color: white;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.logo {
    text-align: center;
    padding-top: 5px;
    background-color: white;
    margin: 0 auto;
    width: 250px;
    margin: 0 auto;
}

.container {
    width: 1440px;
}

.cardLista {
    margin-bottom: 1.5em;
    box-shadow: 0 14px 20px 4px rgba(0, 0, 0, 0.85);
}

.serchVerticalL {
    border-right: 2px solid #b3d7ff;
    text-align: left;
    background-color: #343a40!important;
    color: rgb(255, 255, 255);
}

.serchVerticalR {
    border-left: 2px solid #b3d7ff;
    background-color: #343a40!important;
    position: relative;
}


/*  Card image */

.card-imagen {
    position: absolute;
    top: 1%;
    right: 20px;
    /* bottom: 0; */
    left: 1%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normautoal;
    font-style: normal;
    font-size: 34px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    color: #ff7c7c;
}

.formNuevoAnimal {
    box-shadow: 0 14px 20px 4px rgba(0, 0, 0, 0.85);
}


/* 
footer {
    background-color: #fff;
    border-top: 1px solid #ededed;
    padding: 50px;
    position: relative;
    color: #484848;
    text-align: center;
} */

footer p {
    background-color: #fff;
    border-top: 1px solid #ededed;
    padding: 10px;
    color: #484848;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer .copyright {
    opacity: .5;
    line-height: 1.7;
}